body{
	background:violet;
}
#maindiv{
	background: purple;
	display: flex;
	justify-content: space-around;
	margin: 10%;
	border-radius: 2%;

}
.subdiv{
	background: magenta;
	margin: 3%;
	border-radius: 4%;
	text-align: center;
	box-shadow: 4px 4px 4px 4px;
	width: 28%;
	height: 20%;

}
img{
	margin: 5%;
	border-radius: 2%;
	height: 45%;
	width: 75%;
}
/*MOBILE VIEW*/
@media screen and (max-width:480px )
{
body{
	background:bisque;
}
#maindiv{
	background: lavender;
	display: inline-block;
	justify-content: space-around;
	margin: 1%;
	border-radius: 2%;

}
.subdiv{
	background: lightpink;
	margin: 3%;
	border-radius: 4%;
	text-align: center;
	box-shadow: 4px 4px 4px 4px;
	width: 98%;
	height: 40%;

}
img{
	margin: 5%;
	border-radius: 2%;
	height: 45%;
	width: 75%;
}
}
/*TAB VIEW*/
@media screen and (min-width: 481px) and (max-width:780px )
{
body{
	background:teal;
}
#maindiv{
	background: silver;
	display: inline-block;
	justify-content: space-around;
	margin: 20%;
	border-radius: 2%;
	width:80%;

}
.subdiv{
	background: navy;
	margin:3%;
	justify-content: space-around;
	border-radius: 4%;
	text-align: center;
	box-shadow: 4px 4px 4px 4px;
	width: 78%;
	height: 20%;

}
img{
	margin: 5%;
	border-radius: 2%;
	height: 45%;
	width: 75%;
}
}